# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SpringData\Java-DB-Spring-Data-Exam-ColonialCouncilBank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
