# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\04-hibernate-code-first\Task_1_GringottsDatabse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
